main{
    padding: 30px 100px;
}

main .title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

.img-container{
    margin: 20px 0;
    object-fit: cover;
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}